@media only screen and (max-width: 992px) {
  /* ===== Banner Area =====*/
  #banner {
    background-position: center;
  }
  /* ===== Navbar Area =====*/
  #nav-bar .container {
    height: 5rem;
  }
  .profile-center {
    display: none;
  }
  .nav-bar-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  /* ===== Job Area =====*/
  /* #job-info.container {
    grid-template-columns: 1fr 1fr;
  } */
  /* ===== Certification Area =====*/
  .certificate-box {
    flex-direction: column;
  }
  .certificate-box .img-box {
    width: 100%;
  }
  /* ===== Project Area =====*/
  .project-col {
    width: 33.3%;
  }
}
/* Because at 767 job-infomationn layout is pushed on right => center it here */
